.header {
    position: relative;
    padding: 10px 20px;
    background-color: var(--light) ;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    // background-color: white;
    // background-image: url('https://habrastorage.org/r/w1560/getpro/habr/upload_files/331/1b7/4d2/3311b74d205f3a05ab307405c6fefe4e.jpg');
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInteractBlock {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20px;


    &__burgerMenu {
        display: none;

        @media screen and (max-width:930px) {
            display: block;
        }
    }
}

.inputAndCategoryBtn {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 930px) {
    .header {
        padding: 5px 10px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .userInteractBlock {
        &__enterBlock {
            padding: 5px 10px;
            justify-self: flex-end;
            width: fit-content;
            display: flex;
        }
    }
}

@media screen and (max-width: 540px) {

    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .userInteractBlock {
        justify-self: flex-end;

        &__enterBlock {

            svg {
                height: 1.4em;
            }

            p {
                font-size: 13px;
            }
        }
    }
}