.main {
    width: 500px;
    // border: 1px solid red;
    min-height: 400px;
    padding: 30px 0;

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__inputBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}