.wrapper{
    min-width: 100vh;
    min-height: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.leftPart {
    // border: 1px solid red;

    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45vw;
    max-width: 800px;

    &__headBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__titleBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        h4 {
            font-size: 24px;
        }
    }

    &__buttons {
        width: fit-content;
        align-self: center;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width:1100px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__imageBlock {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.959);
        max-width: 600px;
        align-self: center;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.rightPart {
    // border: 1px solid red;
    // border: #85DCBE 1px solid;
    background-color: #E9F1FA;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 44vw;
    max-width: 700px;


    &__price {
        background-color: #E27D60;
        padding: 12px 0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // width: fit-content;
    }

    &__about {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 10px;
        background-color: #85DCBE;

        &__categoryBlock {
            display: flex;
            align-items: flex-end;
            gap: 10px;
        }
    }

    &__description {
        border-radius: 10px;
        padding: 15px 10px;
        background-color: #E8A87C;
        max-height: 700px;
        overflow: hidden;
        word-break: normal;
    }

    &__dateBlock {
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 10px;
        padding: 15px 10px;
        background-color: #C38D9E;
        max-height: 700px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width:970px) {
            flex-direction: column;
        }
    }
}

.likeBtn {
    color: red !important;
    border: 1px solid red !important;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width:650px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .leftPart {
        width: 100%;

        &__headBlock {}

        &__titleBlock {}

        &__buttons {}

        &__imgBlock {}
    }


    .rightPart {

        &__price {}

        &__about {}

        &__description {}

        &__buttons {}
    }
}