.main {
    display: grid;
    grid-template-columns: 200px 300px 70px;
    // border: 1px solid red;
    height: 180px;
    overflow: hidden;
    align-items: center;
    gap: 10px;
    background-color: var(--light);
    padding: 0 10px;
    border-radius: 3px;
}

.imgBlock {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgb(28, 28, 28);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.mainContent {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    gap: 10px;
    padding: 27px 0;

    h3 {
        color: black !important;
    }

    &__description {

        p {
            color: black !important;
            text-align: center;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

}

.svgBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;

    // border: 1px solid red;

    svg {
        height: 1.2em;
    }

    &__editIcon {
        transition: scale 0.2s;

        &:hover {
            transition: scale 0.2s;
            scale: 1.2;
        }
    }
}

.deleteBlock {
    position: relative;
    z-index: 100;

    &__trash {
        cursor: pointer;
        transition: scale 0.2s;

        &:hover {
            transition: scale 0.2s;
            scale: 1.2;
        }
    }

    &__btn {
        background-color: rgb(255, 79, 79);
        padding: 6px 9px;
        position: absolute;
        border-radius: 5px;
        border: 2px solid red;
        top: -40%;
        right: 150%;
        // top: 100%;
        // left: 10px;
        z-index: 100;
        display: none;

        p {
            font-weight: 600;
            // color: rgb(198, 0, 0);
            color: white;
        }

        &.active {
            display: block;
        }
    }
}