.headerVariant {
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: auto;
    float: right;
    margin-right: 30px;
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #2affdc51;

    @media screen and (max-width: 700px) {

        width: fit-content;

        .input {
            width: 130px;
        }
    }

    @media screen and (max-width: 540px) {
        display: none;
    }
}

.burgerMenuVariant {
    button {
        display: none;
    }

    input {
        border: 1px solid black;
        height: 33px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 4px 4px 8px rgba(240, 235, 235, 0.2);
    }
}