.form {
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: auto;
    float: right;
    margin-right: 30px;
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #2affdc51;
}

.input {
    outline: none;
    position: relative;
    transition: .3s linear;
}


@media screen and (max-width: 700px) {
    .form {
        width: fit-content;
    }

    .input {
        width: 130px;

    }

}

// @media screen and (max-width: 700px) {
//     .form {
//         margin-left: 10px;
//         box-sizing: border-box;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 10px;
//         width: ;
//         float: right;
//         margin-right: 30px;
//         // width: 250px;
//         width: 100px;

//         &:focus {
//             width: 200px;
//         }

//         height: 42px;
//         padding-left: 15px;
//         border-radius: 42px;
//         border: 2px solid #324b4e;
//         background: #2affdc51;
//     }

//     .input {
//         outline: none;
//         position: relative;
//         transition: .3s linear;
//         // width: 100px;
//     }

// }