.main {
    padding: 10px 15px;
    background-color: #EF036C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 230px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 30px;
    }

    h4 {
        color: #ffffff;
    }
}