@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;30");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --light: rgb(255, 255, 255);
  --primary-dark: rgb(0, 0, 0);
  --secondary-dark: rgb(202, 202, 202);

  --bg-light: #E9F1FA;
  --bg-dark: rgb(48, 48, 48);
  --primary-light: rgb(8, 8, 8);
  --secondary-light: rgb(8, 8, 8);

  --primary-bg: radial-gradient(circle, rgba(75, 106, 241, 1) 23%, rgba(37, 218, 205, 1) 91%);
  // --primary-bg: var(--bg-light);
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;

  @media screen and (max-width: 1000px) {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border: 1.4px solid rgba(0, 0, 0, 0.384);
    border-radius: inherit;
    background-color: rgb(254, 254, 254);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(4, 211, 211);
    border-radius: inherit;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.layout {
  background-color: var(--bg-light);
  // background-color: var(--bg-dark);

}

.layout.dark {
  background-color: var(--bg-dark);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    // background-color: var(--bg-dark);
    color: var(--primary-light);
    color: white;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Ysabeau SC', sans-serif;
  font-family: "Comfortaa", cursive;
  color: rgb(57, 53, 53);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 23px;
  }

  h2,
  h3,
  h4 {
    font-size: 19px;
  }
}