.main {}

.fileArea {
    transition: 0.3s all;
    width: 150px;
    background-color: rgba(41, 41, 255, 0.167);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.fileAriaActive {
    // position: relative;
    transition: 0.3s all;
    width: 150px;
    background-color: rgba(41, 41, 255, 0.167);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    // &:before {
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     box-shadow: inset 0 0 0 2px red;
    //     margin: 5px;
    //     animation: round 8s linear infinite;
    // }

    // @keyframes round {
    //     0%,
    //     100% {
    //         clip: rect(0px, 550px, 20px, 0)
    //     }

    //     25% {
    //         clip: rect(0px, 20px, 550px, 0)
    //     }

    //     50% {
    //         clip: rect(550px, 550px, 550px, 0)
    //     }

    //     100% {
    //         clip: rect(0px, 550px, 550px, 550px)
    //     }
    // }
}