.main {
    height: 100px;
    display: grid;
    grid-template-columns: 50px 300px 50px;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 5px;
}

.imgBlock {
    display: flex;
    // border: 1px solid red;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.description {
    height: fit-content;

    p {
        text-align: center;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.buttons {
    padding: 10px;
    // border: 1px solid red;
    // width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    &__editBtn {
        transition: scale 0.2s;

        &:hover {
            transition: scale 0.2s;
            scale: 1.2;
        }
    }
}